.game-init {
    width: 70%;
    height: 70vh;
    margin: 2rem auto;
    border-radius: 8px;
    /* background-color: black; */
}

.start-game{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100%;
    border-radius: 8px;
}

.hero-img{
    width: 50vw;
    height: 70vh;
}

.hero-img img{
    /* width: 100%; */
    height: 90%;
    /* object-fit: cover; */
}